annotated-types==0.7.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
Brotli
certifi
cffi
charset-normalizer
click==8.1.7
colorama
comm
contourpy==1.3.0
cycler==0.12.1
dacite==1.8.1
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
filelock
fonttools==4.55.0
gmpy2
h11
htmlmin==0.1.12
httpcore
httpx
idna
ImageHash==4.3.1
importlib_metadata
importlib_resources==6.4.5
ipykernel
ipython
ipywidgets==8.1.5
jedi
Jinja2
joblib==1.4.2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
llvmlite==0.43.0
MarkupSafe
matplotlib==3.9.3
matplotlib-inline
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
multimethod==1.12
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk==3.9.1
notebook
notebook_shim
numba==0.60.0
numpy==1.24.1
overrides
packaging
pandas==2.2.3
pandas-profiling==3.6.6
pandocfilters
parso
patsy==1.0.1
phik==0.12.4
pickleshare
pillow
platformdirs
prometheus_client
prompt-toolkit
psutil
pure-eval
pycparser
pydantic==2.10.2
pydantic_core==2.27.1
Pygments
pyparsing==3.2.0
PySocks
python-dateutil
python-json-logger
pytz
PyWavelets==1.6.0
pywin32==305.1
pywinpty
PyYAML
pyzmq
referencing
regex==2024.11.6
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
Send2Trash
six
sniffio
soupsieve
stack-data
statsmodels==0.14.4
sympy
terminado
threadpoolctl==3.5.0
tinycss2
tomli
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado
tqdm==4.67.1
traitlets
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3
visions==0.7.6
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension==4.0.13
win-inet-pton
wordcloud==1.9.4
ydata-profiling==4.12.0
zipp
